.disclaimer-section {
    background-color: lightgray;
    padding: 5px;
}

.disclaimer-section h5 {
    margin: 0;
    font-size: 10px;
    color: black;
}

.disclaimer-section .footer {
    font-size: 10px;
    color: gray;
}
